.CardWrapper {
    width: 95%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ContentName > p {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.ContentName > p > span {
    font-weight: lighter;
}

.DeleteContent {
    background-color: red;
    border: none;
    outline: none;
    width: 5.2rem;
    height: 25px;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 3px;
}